.colors-chart
    width 100%
    margin 3rem auto 5rem auto
    max-width 70rem
    display flex
    flex-direction column
    +mq('bp-5')
        flex-direction row

    .overlay 
        width 100%
        display none
        align-self flex-start
        top 0
        position sticky
        order 0
        height 15rem
        padding 0 1rem
        background-color rgba($off-white, 0.98)
        box-shadow 0.25rem 0.25rem 0.25rem rgba($gray-light, 0.25)
        margin-right 0
        +mq('bp-3')
            height 20rem
        +mq('bp-5')
            order 1
            height auto
            width 33%
            box-shadow none
            margin-right 1rem

        &.is-visible
            display flex

        .controls
            position absolute
            top 0rem
            left 0
            width 100%
            display flex
            padding 1rem
            flex-direction column
            +mq('bp-5')
                top 4rem
                padding 0 1rem 1rem 1rem

            .search-wrapper
                width 100%
                display flex
                flex-direction row  
                align-items center
                justify-content space-between
                +mq('bp-5')
                    flex-direction column
                    justify-content flex-start
                    align-items flex-start

                .reset
                    width 3rem  
                    font-family $national
                    color $gray-dark
                    set-type-size('small', true)
                    margin -1rem 0 0 0
                    text-align right
                    font-style italic
                    cursor pointer
                    +mq('bp-5')
                        width auto
                        text-align left
                        margin 0 0 4rem 0

                    &:hover
                        color $off-black
                        font-weight 700

            #autocomplete
                width calc(100% - 3rem)
                +mq('bp-5')
                    width 100%

                .autocomplete__wrapper
                    width 100%
                    position relative
                    margin-bottom 1rem
                    +mq('bp-5')
                        margin-bottom 0.25rem

                    input
                        width 100%
                        height 2rem
                        border 1px solid rgba($gray-light, 0.5)
                        padding 0 0.25rem
                        font-size 1rem

                        +mq('bp-3')
                            height 2rem

                    .autocomplete__menu--visible
                        display block

                    .autocomplete__menu--hidden
                        display none    

                    ul
                        position absolute   
                        top 100%
                        left 0 
                        width 100%
                        background-color rgba($white, 0.9)
                        box-shadow 0rem 0.25rem 0.25rem rgba($gray-light, 0.25)

                        li
                            font-family $national
                            set-type-size('small', true)
                            padding 0.25rem
                            border-bottom 1px solid rgba($gray-light, 0.5)

                            &:hover
                                background-color $off-white



            label, .directions
                font-family $national
                font-weight 700
                margin 0
                set-type-size('medium', true)
                +mq('bp-3')
                  margin 0 0 0.5rem 0  

            .checkbox-container
                width 100%
                display flex
                flex-direction row 
                justify-content space-between 
                flex-wrap wrap 

                .blocks
                    display flex
                    flex-direction row
                    width 100%
                    justify-content flex-start
                    +mq('bp-5')
                        flex-direction column

                .checkbox-column
                    width 100%
                    display flex
                    flex-direction row
                    margin 0 0 0.25rem 0
                    +mq('bp-5')
                        flex-direction column
                        width 48%
                        margin 0 0 2rem 0

                    p
                        font-family $national
                        font-weight 700
                        set-type-size('small', true) 
                        margin 0
                        width 4rem
                        +mq('bp-5')
                            width auto
                        +mq('bp-3')
                            set-type-size('root', true) 

                    .checkbox-wrapper
                        display flex
                        align-items center 
                        width 5rem   
                        padding-right 0.25rem
                        +mq('bp-5')
                           width 100% 
                        +mq('bp-3')
                            padding-right 1rem

                        &.wider
                            width 8rem    

                        .input__check
                            width 0.75rem 
                            height 0.75rem 
                            margin 0 
                            cursor pointer 
                            +mq('bp-3')
                                width 1rem
                                height 1rem 

                        label   
                            font-family $national
                            padding 0 0 0 0.25rem
                            font-weight 500
                            margin 0
                            text-transform none
                            set-type-size('x-small', true)
                            +mq('bp-3')
                                set-type-size('small', true)


        .overlay-inset
            opacity 0
            position absolute
            top 0rem
            left 0
            background-color rgba($white, 0.98)
            display none
            width 100%
            padding 1rem
            height auto
            box-shadow 0.25rem 0.25rem 0.25rem rgba($gray-light, 0.25)
            pointer-events none
            +mq('bp-5')
                top 3rem
                height 50vh 
                box-shadow 0.25rem 0.25rem 0.25rem rgba($gray-light, 0.25)

            &.is-visible
                opacity 1
                display block 

            h5
                set-type-size('xx-large', true)
                font-family $national
                font-weight 700
                margin 0 

            p
                font-family $national
                color $gray-dark    
                margin 0

            img
                width 100%
                margin 1rem auto
                max-width 700px
                //border 1px solid $off-black
                +mq('bp-3')
                    width 75%
                +mq('bp-5')
                    width 100%

            .notes
                font-family $tiempos
                color $off-black
                set-type-size('small', true) 

            .color, .race, .gender
                set-type-size('x-small', true)
                border 1px solid $gray-light
                padding 0.25rem 
                //border-radius 0.25rem 
                //box-shadow 0.25rem 0.25rem 0.25rem rgba($gray-light, 0.25)    
                margin-right 0.5rem  

    #chart
        width 100%
        margin 1rem 0 0 0
        order 1
        padding 0 1rem
        +mq('bp-5')
            order 0
            width 66%
            margin 0 2rem 0 0

        .pudding-chart
            width 100%

            .year
                width 100%
                border-top 1px solid rgba($gray-light, 0.5)
                padding 0.25rem 0 0.75rem 2.5rem
                position relative

                .year-label
                    position absolute
                    margin -0.35rem 0 0 -2.5rem
                    padding 0
                    font-family $national
                    color $gray-dark
                    set-type-size('small', true)

            .candidate
                width 100%
                display flex
                flex-direction row
                align-items center
                border 1px solid transparent
                border-radius 0.25rem
                pointer-events auto
                height 0.625rem

                &.is-disabled
                    pointer-events none

                &:hover
                    border 1px solid $gray
                    box-shadow 0.25rem 0.25rem 0.25rem rgba($gray-light, 0.25)
                    cursor pointer

                &.faded
                    opacity 0.125    

                &__name
                    font-family $national
                    set-type-size('small', true)
                    margin 0
                    color $gray-dark
                    text-align right
                    width 10rem

                .rwb-group, .other-group
                    display flex
                    flex-direction row
                    padding 0 1rem 0 0.5rem    

                    .color-block
                        width 2.25rem
                        //height 1.5rem
                        border 1px solid $off-black  
                        margin 0 0.5rem 0 0
                        height 0.5rem
                        +mq('bp-3')
                            width 3rem
                        +mq('bp-5')
                            width 3.5rem

                        &.empty-block
                            border 3px solid transparent
