.colors-chart
    width 100%
    padding 0 1rem
    margin 3rem auto 5rem auto
    max-width 70rem
    display flex
    flex-direction row

    .overlay 
        width 33%
        display none
        align-self flex-start
        padding 4rem 0 0 2rem
        top 0
        position sticky

        &.is-visible
            display flex

        .controls
            position absolute
            top 4rem
            left 2rem
            width 100%
            display flex
            flex-direction column

            .directions
                font-family $national
                margin 0 0 0.5rem 0
                set-type-size('medium', true)
                font-weight 700
                //border-top 1px solid rgba($gray-light, 0.5)
                //padding-top 0.5rem

            .input__search
                width 100%
                height 2rem
                margin-bottom 4rem

            .checkbox-container
                width 100%
                display flex
                flex-direction row 
                justify-content space-between 
                flex-wrap wrap 

                .checkbox-column
                    width 48%
                    display flex
                    flex-direction column
                    margin-bottom 2rem

                    p
                        font-family $national
                        set-type-size('root', true) 
                        font-weight 700
                        margin 0

                    .checkbox-wrapper
                        display flex
                        align-items center 
                        width 100%   
                        padding-right 1rem

                        .input__check
                            width 1rem
                            height 1rem 
                            margin 0  

                        label   
                            font-family $national
                            padding 0 0 0 0.25rem
                            set-type-size('small', true)


        .overlay-inset
            opacity 0
            position absolute
            top 4rem
            left 2rem
            background-color rgba($white, 0.98)
            display none
            width 100%
            height 100vh

            &.is-visible
                opacity 1
                display block 

            h5
                set-type-size('xx-large', true)
                font-family $tiempos-hed   
                margin 0 

            p
                font-family $national
                color $gray-dark    
                margin 0

            img
                width 100%
                margin 1rem 0

            .notes
                font-family $tiempos
                color $off-black
                set-type-size('small', true) 

            .color, .race, .gender
                set-type-size('x-small', true)
                border 1px solid $gray
                padding 0.25rem 
                border-radius 0.25rem 
                //box-shadow 0.25rem 0.25rem 0.25rem rgba($gray-light, 0.25)    
                margin-right 0.5rem  

    #chart
        width 66%

        .pudding-chart
            width 100%

            .year
                width 100%
                border-top 1px solid rgba($gray-light, 0.5)
                padding 0.25rem 0 0.75rem 2.5rem
                position relative

                .year-label
                    position absolute
                    margin -0.35rem 0 0 -2.5rem
                    padding 0
                    font-family $national
                    color $gray-dark
                    set-type-size('small', true)

            .candidate
                width 100%
                display flex
                flex-direction row
                align-items center
                border 1px solid transparent
                border-radius 0.25rem
                pointer-events auto

                &.is-disabled
                    pointer-events none

                &:hover
                    border 1px solid $gray
                    box-shadow 0.25rem 0.25rem 0.25rem rgba($gray-light, 0.25)

                &.faded
                    opacity 0.125    

                &__name
                    font-family $national
                    set-type-size('small', true)
                    margin 0
                    color $gray-dark
                    text-align right
                    width 10rem

                .rwb-group, .other-group
                    display flex
                    flex-direction row
                    padding 0 1rem 0 0.5rem    

                    .color-block
                        width 3.65rem
                        //height 1.5rem
                        border 1px solid $off-black  
                        margin 0 0.5rem 0 0

                        &.empty-block
                            border 3px solid transparent
