.demo-section
    margin 0 auto
    width $column-stretch
    padding 3rem 0

    .line
        max-width 10rem
        margin 0 auto
        border-top 1px solid $gray-light
        padding 0

    h3
        set-type-size('xxxx-large', true)
        font-family $tiempos-hed
        text-align center
        padding 1rem 0 3rem 0

    p
        max-width $column-width
        margin 0 auto

    .charts
        width 100%    
