body
	background-color $off-white

.intro
	margin 0 auto 3rem auto
	padding 3rem 0

	&__grid
		width 100%
		display flex
		flex-direction row
		flex-wrap wrap
		align-content center
		justify-content center
		height 100vh
		z-index 900

		.logoDiv
			display flex
			opacity 0.125
			box-sizing border-box
			outline none
			filter grayscale(100%)

			&.is-intext
				outline 0.25rem solid #F9CF3A
				outline-offset -0.25rem

			&.is-highlighted
				outline 0.25rem solid #F9CF3A
				outline-offset -0.25rem
	#scroll
		position relative

		.scroll__graphic
			width 100%
			position sticky
			top 3rem
			right 0
			transform translate3d(0, 0, 0)

			.intro__svg
				width 100%
				position absolute
				z-index set-index('overlay')
				height 100vh

				svg
					width 100%
					position relative
					top 0
					left 50%
					transform translate(-50%, 20%)
					+mq('bp-4')
						width 90%
						max-width 70rem
						transform translate(-50%, 0)


				.intro__text
					z-index set-index('overlay')
					position relative
					bottom 2rem
					left 0
					width 100%
					max-width $column-width
					margin 0 auto
					margin-top -20%
					display flex
					flex-direction column
					padding 0 1rem

					h1
						font-family $national
						set-type-size('x-large', true)
						background-color $cc-blue
						padding 1rem
						font-weight 700
						color $off-white
						max-width 35rem
						margin 10rem auto 0 auto
						text-align center
						+mq('bp-4')
							set-type-size('xxx-large', true)		

					p
						font-family $national
						set-type-size('root', true)
						background-color $cc-red
						padding 0.25rem 1rem
						color $cc-navy
						max-width 10rem
						margin -1rem auto 0 auto
						text-align center
						font-weight 700
						+mq('bp-4')
							set-type-size('medium', true)

						a
							color $cc-navy	
							border-bottom 1px solid $cc-navy
							cursor pointer

							&:hover
								color $off-white
								border-bottom 1px solid $off-white



		.scroll__text
			position relative
			top 0
			max-width 35rem
			width 100%
			padding 0 2rem
			margin 1rem auto
			pointer-events none
			+mq('bp-5')
				padding 0 1rem

			.step.is-active
				opacity 1

			.step
				margin 2rem auto
				opacity 0.5

				p
					background-color rgba($white, 0.98)	
					padding 1rem
					box-shadow 0.25rem 0.25rem 2rem rgba($off-black, 0.125)	
					line-height 1.75

				.intro-hover
					border 2px solid $gray-light
					box-shadow 0.25rem 0.25rem 0.25rem rgba($gray-light, 0.25)
					//border-radius 0.25rem
					padding 0.125rem 0.25rem	
					font-family $national
					font-weight 700
					white-space nowrap
					//color $off-white
					background-color $white
					cursor pointer

					&:hover
						//background-color rgba($gray-light, 0.5)
						border 2px solid $cc-gold	

			#step-0
				visibility hidden

.emphasis
	font-style italic


@keyframes updown {
	0% { transform: translateY(0) }
	100% { transform: translateY(-0.75rem) }
}						

