body
	background-color $off-white

.intro
	margin 0 auto 3rem auto
	padding 3rem 0

	&__grid
		width 100%
		display flex
		flex-direction row
		flex-wrap wrap
		align-content center
		justify-content center
		height 100vh

		.logoDiv
			display flex
			opacity 0
			box-sizing border-box
			outline none

			&.is-highlighted
				outline 0.25rem solid #F9CF3A
				outline-offset -0.25rem
	#scroll
		position relative

		.scroll__graphic
			width 100%
			position sticky
			top 3rem
			right 0
			transform translate3d(0, 0, 0)

			h1
				visibility hidden
				position absolute

		.scroll__text
			position relative
			top 0
			max-width 30rem
			width 100%
			padding 0 2rem
			margin 1rem auto
			+mq('bp-5')
				padding 0 1rem

			.step.is-active
				opacity 1

			.step
				margin 2rem auto
				opacity 0.5

				p
					background-color rgba($off-white, 0.98)	
					padding 1rem
					box-shadow 0.25rem 0.25rem 2rem rgba($off-black, 0.125)	
					line-height 1.75

				.intro-hover
					border 1px solid $gray
					box-shadow 0.25rem 0.25rem 0.25rem rgba($gray-light, 0.25)
					border-radius 0.25rem
					padding 0.125rem 0.5rem	
					font-family $national
					font-weight 700
					white-space nowrap
					background-color $white

					&:hover
						background-color $gray-light
						border 1px solid $gray-dark		

			#step-0
				p
					font-family $serif-display
					set-type-size('xx-large', true)
					text-align center
					font-weight 700
					+mq('bp-3')
						set-type-size('xxx-large', true)
					+mq('bp-4')
						set-type-size('xxxx-large', true)

					.byline
						font-family $national
						font-weight 500
						set-type-size('root', true)

					.arrow 
						background-image url('assets/images/arrow-down.png')	
						background-repeat no-repeat
						background-position 50% 50%
						background-size 35px 35px	
						width 35px
						height 35px
						display inline-block
						margin-top 2rem	
						animation updown 1s infinite  alternate;

@keyframes updown {
	0% { transform: translateY(0) }
	100% { transform: translateY(-0.75rem) }
}						

