.methods
    font-family $national
    color $off-black
    margin-top 5rem

    h3
        max-width $column-width
        margin 0 auto
        padding 0 1rem
        font-weight 700
        text-transform uppercase
        set-type-size('small', true) 
        font-weight 700

    .prose
        set-type-size('small', true) 
        font-family $national  
        text-transform none 

    .example-wrapper
        max-width $column-width
        margin 0 auto
        display flex
        flex direction row
        padding 0 1rem
        flex-wrap wrap
        justify-content space-between

        .example
            width 48%
            display flex
            flex-direction column
            margin-bottom 3rem

            img
                width 100%

            .credit, .explainer
                margin 0
                set-type-size('small', true) 

            .credit
                color $gray-dark 

            .explainer
                margin 1rem 0 0 0 
                font-weight 700         