.methods
    font-family $knockout72
    color $off-black
    margin-top 3rem

    h3
        max-width $column-width
        margin 0 auto
        padding 0 1rem
        font-weight 700
        text-transform uppercase
        set-type-size('small', true) 
        text-transform uppercase

    .prose
        set-type-size('small', true) 
        font-family $knockout32  
        text-transform none 

    ul
        max-width $column-width
        margin 0 auto
        font-family $knockout32
        padding 0 1rem
        list-style-type circle
        list-style-position inside

        li
          set-type-size('small', true) 