.methods
    font-family $national
    color $off-black
    margin-top 3rem

    h3
        max-width $column-width
        margin 0 auto
        padding 0 1rem
        font-weight 700
        text-transform uppercase
        set-type-size('small', true) 

    .prose
        set-type-size('small', true) 
        margin-bottom 1rem   

    li
        max-width $column-width
        margin 0 auto
        padding 0 1rem
        set-type-size('small', true) 