.outro
    margin-bottom 5rem

    .divider
        max-width 60rem
        margin 0 auto 1.5rem auto
        border-top 1px solid rgba($gray, 0.5)

    .bolded
        font-weight 700
        font-family $national    