.outro
    margin-bottom 5rem
    padding 0 1rem

    .prose
        padding 1rem 0

    .divider
        max-width 60rem
        margin 0 auto 1.5rem auto
        border-top 1px solid rgba($gray, 0.5)

    .bolded
        font-weight 700
        font-family $national    
        set-type-size('x-large', true)