/* CUSTOM STORY STYLE */
#wordmark .st0
    fill $off-black

#lines .st0
    fill $cc-blue

#strokes
    path
        fill none
        stroke $cc-navy
        stroke-width 60px

#line-strokes
    path
        fill none
        stroke $cc-blue
        stroke-width 60px    

#stars
    polygon
        fill $cc-red
        transform scale(0) 
        transform-origin center 

#years
    g path
        fill $cc-red
        transform scale(0) 
        transform-origin center 

.bounce
    animation updown 1s infinite  alternate

@keyframes updown {
	0% { transform: translateY(0) }
	100% { transform: translateY(-0.75rem) }
}	    