<section class='colors-chart'>
		<div id='chart'></div>
        <div class='overlay'>
			<div class='controls'>
				<p class='directions'>Search for a candidate</p>
				<input type='text' class='input__search' placeholder='Name'>
				<p class='directions'>Filter by...</p>
				<div class='checkbox-container'>
					<div class='checkbox-column'>
						<p>Party</p>
						<div class='checkbox-wrapper'>
							<input type='checkbox' class='input__check' value='party' checked>
							<label for='color'>Democratic</label>
						</div>
						<div class='checkbox-wrapper'>
							<input type='checkbox' class='input__check' value='party' checked>
							<label for='color'>Republican</label>
						</div>
						<div class='checkbox-wrapper'>
							<input type='checkbox' class='input__check' value='party' checked>
							<label for='color'>Third party</label>
						</div>
					</div>
					<div class='checkbox-column'>
						<p>Color</p>
						<div class='checkbox-wrapper'>
							<input type='checkbox' class='input__check' value='color' checked>
							<label for='color'>RWB</label>
						</div>
						<div class='checkbox-wrapper'>
							<input type='checkbox' class='input__check' value='color' checked>
							<label for='color'>Non-RWB</label>
						</div>
					</div>
					<div class='checkbox-column'>
						<p>Race</p>
						<div class='checkbox-wrapper'>
							<input type='checkbox' class='input__check' value='race' checked>
							<label for='color'>White</label>
						</div>
						<div class='checkbox-wrapper'>
							<input type='checkbox' class='input__check' value='race' checked>
							<label for='color'>Non-White</label>
						</div>
					</div>
					<div class='checkbox-column'>
						<p>Gender</p>
						<div class='checkbox-wrapper'>
							<input type='checkbox' class='input__check' value='gender' checked>
							<label for='color'>Male</label>
						</div>
						<div class='checkbox-wrapper'>
							<input type='checkbox' class='input__check' value='gender' checked>
							<label for='color'>Non-male</label>
						</div>
					</div>
				</div>
			</div>
            <div class='overlay-inset'>
                <h5></h5>
                <p class='party'></p>
				<p class='demos'><span class='color'></span><span class='race'></span><span class='gender'></span></p>
                <img>
                <p class='notes'></p>
            </div>
        </div>
</section>