<section class='colors-chart'>
		<div id='chart'></div>
        <div class='overlay is-visible'>
			<div class='controls'>
				<label for='my-autocomplete'>Search for a candidate...</label>	
				<div class='search-wrapper'>
					<div id='autocomplete'></div>
					<p class='reset'>Reset</p>
				</div>	
				<p class='directions'>Or filter by...</p>
				<div class='checkbox-container'>
					<div class='checkbox-column'>
						<p>Party</p>
						<div class='blocks'>
							<div class='checkbox-wrapper'>
								<input type='checkbox' id='party-d' class='input__check' value='party' checked>
								<label for='color'>Dem.</label>
							</div>
							<div class='checkbox-wrapper'>
								<input type='checkbox' id='party-r' class='input__check' value='party' checked>
								<label for='color'>Rep.</label>
							</div>
							<div class='checkbox-wrapper'>
								<input type='checkbox' id='party-t' class='input__check' value='party' checked>
								<label for='color'>Other</label>
							</div>
						</div>
					</div>
					<div class='checkbox-column'>
						<p>Color</p>
						<div class='blocks'>
							<div class='checkbox-wrapper'>
								<input type='checkbox' id='color-rwb' class='input__check' value='color' checked>
								<label for='color'>RWB</label>
							</div>
							<div class='checkbox-wrapper wider'>
								<input type='checkbox' id='color-nrwb' class='input__check' value='color' checked>
								<label for='color'>Non-RWB</label>
							</div>
						</div>
					</div>
					<div class='checkbox-column'>
						<p>Race</p>
						<div class='blocks'>
							<div class='checkbox-wrapper'>
								<input type='checkbox' id='race-w' class='input__check' value='race' checked>
								<label for='color'>White</label>
							</div>
							<div class='checkbox-wrapper wider'>
								<input type='checkbox' id='race-nw' class='input__check' value='race' checked>
								<label for='color'>Cand. of color</label>
							</div>
						</div>
					</div>
					<div class='checkbox-column'>
						<p>Gender</p>
						<div class='blocks'>
							<div class='checkbox-wrapper'>
								<input type='checkbox' id='gender-m' class='input__check' value='gender' checked>
								<label for='color'>Male</label>
							</div>
							<div class='checkbox-wrapper'>
								<input type='checkbox' id='gender-nm' class='input__check' value='gender' checked>
								<label for='color'>Female</label>
							</div>
						</div>
					</div>
				</div>
			</div>
            <div class='overlay-inset'>
                <h5></h5>
                <p class='party'></p>
				<p class='demos'><span class='color'></span><span class='race'></span><span class='gender'></span></p>
                <img>
                <p class='notes'></p>
            </div>
        </div>
</section>