<section class='intro'>
	<div id='scroll'>
		<div class='scroll__graphic sticky'>
			<h1>How candidate diversity equals color diversity</h1>
			<div class='intro__grid' id=></div>
		</div>
		<div class='scroll__text'>
			{{#each copy.introSteps}}
				<div class='step' data-step='{{{step}}}' id='step-{{{step}}}'>
					<p>{{{text}}}</p>
				</div>
			{{/each}}
		</div>
	</div>
</section>