<section class='methods'>
    <h3>Methods</h3>
    {{#each copy.methods}}
    <p class='prose'>{{{value}}}</p>
    {{/each}}

    <ul>
        {{#each copy.methodsList}}
        <li>{{{value}}}</li>
        {{/each}}
    </ul>    

    {{#each copy.methods2}}
    <p class='prose'>{{{value}}}</p>
    {{/each}}
</section>