<section class='outro'>
    <div class='seperator'>
        <div class='left-line'></div>
        <img inline src='campaign-star.svg'>
        <div class='left-line'></div>
    </div>
    {{#each copy.outro}}
    <p class='prose'>{{{value}}}</p>
    {{/each}}
</section>