<section class='text-test'>    
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 1920 1688.4" style="enable-background:new 0 0 1920 1688.4;" xml:space="preserve">
        <defs>
            <clipPath id='letterClip'>
                <path  d="M592.6,1185.3c-37.9,0-68.1-32.3-68.1-80V786.7c0-47,30.2-80,68.1-80c37.9,0,65.3,33,65.3,80v89.1h-36.5v-97.5
                    c0-15.4-9.8-28.8-26.7-28.8c-17.5,0-27.4,13.3-27.4,28.8v335.4c0,16.1,9.8,28.8,27.4,28.8c16.8,0,26.7-12.6,26.7-28.8v-98.2h36.5
                    v89.8C657.9,1153,630.5,1185.3,592.6,1185.3z M759.6,1185.3c-37.9,0-69.5-32.3-69.5-80V786.7c0-47,31.6-80,69.5-80
                    c37.9,0,69.5,33,69.5,80v318.6C829.1,1153,797.5,1185.3,759.6,1185.3z M787,778.3c0-15.4-10.5-28.8-27.4-28.8
                    c-17.5,0-27.4,13.3-27.4,28.8v335.4c0,16.1,9.8,28.8,27.4,28.8c16.8,0,27.4-12.6,27.4-28.8V778.3z M369.5,184.9
                    c-37.9,0-68.1,33-68.1,80v318.6c0,47.7,30.2,80,68.1,80s65.3-32.3,65.3-80v-89.8h-36.5v98.2c0,16.1-9.8,28.8-26.7,28.8
                    c-17.5,0-27.4-12.6-27.4-28.8V256.4c0-15.4,9.8-28.8,27.4-28.8c16.8,0,26.7,13.3,26.7,28.8V354h36.5v-89.1
                    C434.8,217.8,407.4,184.9,369.5,184.9z M509.2,190.5l-52.6,467.3h38.6l9.8-94.7h46.3l7,94.7h44.2l-49.1-467.3H509.2z M509.2,521.7
                    l21.8-216.8l16.8,216.8H509.2z M737.2,478.2l-7.7,77.2l-7.7-77.2l-30.9-287.7h-61.7v467.3h37.2V309.1l7.7,77.9l34.4,270.9h37.9
                    l33-270.9l7-77.9v348.7H827V190.5h-59.6L737.2,478.2z M937.9,190.5h-70.2v432.4v34.9v521.9h110.9v-42.1h-68.8V657.8v-34.9V455h28.1
                    c27.4,0,62.4-14,62.4-73.7V264.2C1000.3,204.5,965.3,190.5,937.9,190.5z M957.5,387.7c0,18.2-7.7,26.7-19.6,26.7h-28.1v-181h28.1
                    c11.9,0,19.6,7.7,19.6,26.7V387.7z M1057.9,190.5l-52.6,467.3h38.6l9.8-94.7h46.3l7,94.7h44.2l-49.1-467.3H1057.9z M1057.9,521.7
                    l21.8-216.8l16.8,216.8H1057.9z M1177.9,657.8h42.8V190.5h-42.8V657.8z M1330.1,467.6h24.6v124.2c0,19.6-9.1,32.3-27.4,32.3
                    c-18.9,0-27.4-12.6-27.4-32.3V256.4c0-15.4,9.8-28.8,27.4-28.8c16.8,0,27.4,13.3,27.4,28.8v89.8h37.9v-81.4c0-47-27.4-80-65.3-80
                    c-37.9,0-69.5,33-69.5,80v318.6c0,56.8,34.4,80,61,80c22.5,0,40.7-10.5,48.4-29.5l13.3,23.9h16.1v-228h-66.7V467.6z M1538.5,190.5
                    v316.5l-12.6-72.3l-53.3-244.2h-41.4v467.3h40V345.6l14,70.9l61.7,241.4h31.6V190.5H1538.5z M1065.6,1185.3
                    c-37.9,0-69.5-32.3-69.5-80V786.7c0-47,31.6-80,69.5-80s69.5,33,69.5,80v318.6C1135.1,1153,1103.5,1185.3,1065.6,1185.3z
                    M1093,778.3c0-15.4-10.5-28.8-27.4-28.8c-17.5,0-27.4,13.3-27.4,28.8v335.4c0,16.1,9.8,28.8,27.4,28.8c16.8,0,27.4-12.6,27.4-28.8
                    V778.3z M1300.7,1183.2c-24.6,0-35.1-9.1-35.1-43.5v-136.1c0-18.9-9.8-30.9-24.6-30.9h-25.3v207h-42.8V712.4h70.9
                    c27.4,0,61.7,14,61.7,73.7v108.8c0,28.1-7,49.1-28.8,58.9c21.8,9.8,30.2,30.9,30.2,58.2v127c0,12.6,1.4,18.2,9.1,18.2v26H1300.7z
                    M1263.5,781.8c0-18.9-8.4-26.7-20.3-26.7h-27.4V932h23.9c14,0,23.9-11.9,23.9-30.9V781.8z M1405.2,1185.3
                    c-43.5,0-69.5-32.3-69.5-79.3v-63.2h40.7v65.3c0,23.2,11.2,40.7,27.4,40.7c21.8,0,30.2-14.7,30.2-40.7c0-47-16.1-90.5-41.4-143.1
                    c-22.5-46.3-53.3-117.2-53.3-165.6c0-54,21.1-92.6,70.9-92.6c38.6,0,63.2,32.3,63.2,80v68.1h-40v-66.7c0-28.1-8.4-41.4-23.9-41.4
                    c-18.2,0-29.5,11.9-29.5,37.2c0,54.7,16.8,91.2,45.6,151.6c26.7,56.8,49.1,110.9,49.1,160
                    C1474.7,1168.4,1433.3,1185.3,1405.2,1185.3z"/>
            </clipPath>
            <clipPath id='arrowClip'>
                <path d="M474.9,968.8H301.5v-42.1h173.5V968.8z M1669.5,968.8h-191.2v-42.1h191.2V968.8z M1627.4,1463.2V932h42.1
                    v531.2H1627.4z"/>
            </clipPath>
        </defs>
        <g id="line-strokes">
            <path clip-path='url(#arrowClip)' d="M277.6,947.8c16.5,0,202.5-6.3,214.5,0"/>
            <path clip-path='url(#arrowClip)' d="M1459.6,947.8c30-1.2,183-10.6,196.5-1.4c-1.5,36.2-7.6,468-7.6,516.8"/>
        </g>
        <g id="lines">
            <polygon class="st0" points="1717,1414.4 1648.4,1512 1579.9,1414.4 	"/>
        </g>
        <g id="years">
            <g>
                <path class="st1" d="M339.3,1064.4h41.3v23.1h-79.1v-8.4c0-31.5,47.5-34,47.5-46.6c0-3.6-2.9-6-10-6c-7.5,0-16.4,3.5-24.7,8.8
                    l-11.8-18.4c10.8-7.8,22.4-13.3,40.2-13.3c23.6,0,37.8,11.7,37.8,25.4C380.6,1046.2,360.9,1054.6,339.3,1064.4z"/>
                <path class="st1" d="M431.9,1090.3c-26,0-43.3-14.3-43.3-37.7v-11.2c0-23.6,17.3-37.7,43.3-37.7c25.9,0,43,14.1,43,37.7v11.2
                    C474.9,1076,457.8,1090.3,431.9,1090.3z M442.4,1040.3c0-9.1-3.8-13.6-10.5-13.6c-6.8,0-10.6,4.5-10.6,13.6v13.3
                    c0,9,3.8,13.7,10.6,13.7c6.7,0,10.5-4.7,10.5-13.7V1040.3z"/>
                <path class="st1" d="M339.3,1159.4h41.3v23.1h-79.1v-8.4c0-31.5,47.5-34,47.5-46.6c0-3.6-2.9-6-10-6c-7.5,0-16.4,3.5-24.7,8.8
                    l-11.8-18.4c10.8-7.8,22.4-13.3,40.2-13.3c23.6,0,37.8,11.7,37.8,25.4C380.6,1141.2,360.9,1149.5,339.3,1159.4z"/>
                <path class="st1" d="M431.9,1185.3c-26,0-43.3-14.3-43.3-37.7v-11.2c0-23.6,17.3-37.7,43.3-37.7c25.9,0,43,14.1,43,37.7v11.2
                    C474.9,1170.9,457.8,1185.3,431.9,1185.3z M442.4,1135.3c0-9.1-3.8-13.6-10.5-13.6c-6.8,0-10.6,4.5-10.6,13.6v13.3
                    c0,9,3.8,13.7,10.6,13.7c6.7,0,10.5-4.7,10.5-13.7V1135.3z"/>
            </g>
            <g>
                <path class="st1" d="M427.4,793.3c-16.5,0-27.1-3.9-38.2-10.7l11.1-18.1c6.4,3.9,14.8,6.4,23.1,6.4c12.9,0,18.6-7.9,18.6-15.2
                    v-3.5c-5.8,5.2-12,8.9-22.5,8.9c-18.7,0-29.7-9.6-29.7-23v-1.6c0-15.6,15.7-29.8,41.1-29.8c27,0,44,15,44,37.8v8.4
                    C474.9,776.9,453.1,793.3,427.4,793.3z M442,739.1c0-5.3-4.4-9.5-10.6-9.5c-7.2,0-10.9,4-10.9,7.9v2.2c0,4.1,3.2,7.4,9.6,7.4
                    c5.3,0,9-2.3,11.9-5.5V739.1z"/>
                <path class="st1" d="M345.6,893.4c-27.1,0-44.1-14.6-44.1-37.2v-9.7c0-23.6,20.5-39.6,47-39.6c16.2,0,25.5,3.8,36,10.7l-11.7,17.6
                    c-6-3.5-12.6-5.8-20.5-5.8c-10.8,0-17.9,6.2-17.9,15.8v4.4c6.1-5.7,13.5-10.1,25.7-10.1c17.3,0,26.5,11.3,26.5,23.5v1.6
                    C386.6,880,370.9,893.4,345.6,893.4z M356.1,861c0-4-3.2-7.4-9.7-7.4c-5.2,0-8.9,2.3-11.9,5.5v2.4c0,5,4.5,9.1,10.6,9.1
                    c7.2,0,11.1-4,11.1-7.9V861z"/>
                <path class="st1" d="M432.8,893.4c-28.7,0-42.2-10.9-42.2-23.8v-1.1c0-8,6.2-15.4,18.8-19c-10.7-1.9-17-9.1-17-17.1v-1
                    c0-12.2,11.7-24.6,40.4-24.6c28.6,0,40.5,12.4,40.5,24.6v1c0,8-6.6,15.2-17.1,17.1c12.8,3.5,18.8,10.9,18.8,19v1.1
                    C474.9,882.5,461.6,893.4,432.8,893.4z M441.6,834.5c0-3.3-2.1-6.7-8.9-6.7c-6.7,0-9,3.4-9,6.7v2.2c0,4.3,3.5,6.8,9,6.8
                    s8.9-2.6,8.9-6.8V834.5z M441.6,863.3c0-3.6-2.8-6.6-8.9-6.6s-9,2.9-9,6.6v2.4c0,3.6,2.6,6.8,9,6.8c6.4,0,8.9-3.2,8.9-6.8V863.3z"
                    />
                <path class="st1" d="M360.1,767.4v-24.1v-33.8H340h-15.7c0,9.2-6.1,13.7-12.6,13.7v20.1h14.6v24.1h-19.3v23.1h19.3h33.8h20.2
                    c0,0,0-16.8,0-23.1H360.1z"/>
            </g>
        </g>
        <g id="stars">
            <polygon class="st1" points="1546.6,755.8 1526,770.2 1533.2,746.1 1513.2,731 1538.3,730.5 1546.6,706.7 1554.8,730.5 1579.9,731 
                1559.9,746.1 1567.2,770.2 	"/>
            <polygon class="st1" points="1546.6,862.2 1526,876.5 1533.2,852.5 1513.2,837.4 1538.3,836.8 1546.6,813.1 1554.8,836.8 
                1579.9,837.4 1559.9,852.5 1567.2,876.5 	"/>
            <polygon class="st1" points="1543.5,1062.5 1522.9,1076.8 1530.2,1052.8 1510.2,1037.6 1535.3,1037.1 1543.5,1013.4 1551.8,1037.1 
                1576.9,1037.6 1556.9,1052.8 1564.1,1076.8 	"/>
            <polygon class="st1" points="1543.5,1168.8 1522.9,1183.2 1530.2,1159.2 1510.2,1144 1535.3,1143.5 1543.5,1119.8 1551.8,1143.5 
                1576.9,1144 1556.9,1159.2 1564.1,1183.2 	"/>
        </g>
        <g id="strokes">
            <path clip-path='url(#letterClip)' d="M416.5,487c0,16.2,0,100.3,0,111c0,63.3-94.5,50.6-94.5,0c0-25,0-92.3,0-106c0-63,0-37,0-138
                c0-34,0-62.2,0-85.9c0-83.3,94.5-83.3,94.5,0c0,22.6,0,60.5,0,94.2"/>
            <path clip-path='url(#letterClip)' d="M471.7,663.4c1.6-10.5,7.3-58.3,14.5-120c16.5-141,40.9-354.7,43.3-363.1c8.8,34,53.5,472.2,54.2,483.1"/>
            <path clip-path='url(#letterClip)' d="M494.3,543c10.7-1.3,50.7-0.8,64,0"/>
            <path clip-path='url(#letterClip)' d="M643,663.4c0-85.1,1.3-462.1,2.7-472.9c11.3-4.1,28.7-5.5,30,3.2c1.3,8.7,48,462.8,48.7,476
                c5.3-22.8,65.3-476.3,67.3-484.8c8-3.2,20.3-4.2,20.3,5.6c0,9.9-2.3,475.2-2.3,479.2"/>
            <path clip-path='url(#letterClip)' d="M985,1156.3c-16,3.3-84.3-1.3-96.3,0c-2.7-24,1-927,1-947.7c24.7,4.3,75.3-3,81.3,13.7s8.7,71.6,7.3,101.5
                c-1.3,29.9-0.7,72.5-2.7,90.5s-45.4,22.7-76.7,22"/>
            <path clip-path='url(#letterClip)' d="M1021.2,663.4c1.6-10.5,7.3-58.3,14.5-120c16.5-141,40.9-354.7,43.3-363.1c8.8,34,53.5,472.2,54.2,483.1"/>
            <path clip-path='url(#letterClip)' d="M1043.8,543c10.7-1.3,50.7-0.8,64,0"/>
            <path clip-path='url(#letterClip)' d="M1199.3,663.4c0-32.4,0-454,0.7-478.5"/>
            <path clip-path='url(#letterClip)' d="M1374.6,362.3c0-33.8,0-71.6,0-94.2c0-83.3-94.5-83.3-94.5,0c0,23.7,0,51.9,0,85.9c0,101,0,75,0,138
                c0,13.7,0,81,0,106c0,56,94.5,63.3,94.5,0"/>
            <path clip-path='url(#letterClip)' d="M1379,663.4c0-29.1-4.9-193.8-4.4-213.7c-10.2,0-41.6,0-49.4,0"/>
            <path clip-path='url(#letterClip)' d="M1449.7,663.4c0.7-69.7-2-469.4,0-478.5s12.7-4.2,14.7,5.6c2,9.9,86,463.4,89.3,472.9s10,1.6,10-12.4
                s-6.8-442.3-7.7-471"/>
            <path clip-path='url(#letterClip)' d="M639.5,885.8c0-33.8,0-71.6,0-94.2c0-83.3-94.5-83.3-94.5,0c0,23.7,0,51.9,0,85.9c0,101,0,75,0,138
                c0,13.7,0,81,0,106c0,50.6,94.5,63.3,94.5,0c0-10.7,0-94.8,0-111"/>
            <path clip-path='url(#letterClip)' d="M806.9,885.8c0-33.8,0-71.6,0-94.2c0-83.3-94.5-83.3-94.5,0c0,23.7,0,51.9,0,85.9c0,101,0,75,0,138
                c0,13.7,0,81,0,106c0,50.6,94.5,63.3,94.5,0c0-10.7,0-94.8,0-111V885.8z"/>
            <path clip-path='url(#letterClip)' d="M1112.8,885.8c0-33.8,0-71.6,0-94.2c0-83.3-94.5-83.3-94.5,0c0,23.7,0,51.9,0,85.9c0,101,0,75,0,138
                c0,13.7,0,81,0,106c0,50.6,94.5,63.3,94.5,0c0-10.7,0-94.8,0-111V885.8z"/>
            <path clip-path='url(#letterClip)' d="M1320,1171.7l-31.7-7.3c0,0-5.3-154-5.3-174.7c0-20.7-36.7-30.7-73.3-38c24,0,73.3-11.3,73.3-24.9
                s0-161.1,0-177.2s-52.7-16.9-88.7-16.9v452.6"/>
            <path clip-path='url(#letterClip)' d="M1353,1034.3c0,96.7,6.7,134.7,53.3,134.7c35.3,0,56.7-64,44-112c-12.7-48-92.7-201.3-92-274.7
                c0.3-28.7,14-57.3,52-57.3c52,0,44,76.7,44,137.3"/>
        </g>
    </svg>
</section>